:local(.headerMenu) {
    position: fixed;
    top: 0;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05)
}

/* 让Header组件居中的css写法 */
:local(.headerMenuMenu) {
    max-width: 960px;
    margin: 0 auto;
    border-bottom: none !important;
}

.fixed {
    position: fixed;
    top: 0;
}